@font-face {
  font-display: swap;
  font-family: 'Press Start 2P';
  src: url(PressStart2P-Regular.woff) format(woff);
}

@font-face {
  font-display: swap;
  font-family: Inter;
  src:
    url(Inter-Variable.woff2) format(woff2),
    url(Inter-Variable.woff2) format(woff2 supports variations),
    url(Inter-Variable.woff2) format(woff2-variations);
  font-weight: 400 785;
}
