/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-clr);
  background-image: var(--bg-image-grad);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--accent-clr);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 2px solid var(--accent-clr, #000);
  background-color: var(--bg-clr);
  padding: 120px 0 25px;
  margin: 100px 0;
  font-family: var(--accent-font), serif;
  text-transform: uppercase;
  width: var(--section-width);
}

.title {
  padding-top: 18px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.theme-menu__button {
  font-size: 14px;
  background: none;
  border: none;
  text-transform: inherit;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
}

.content {
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding-block-end: 100px;
  width: var(--section-width);
}

.content__cards-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: 2px solid var(--accent-clr);
  background-color: var(--bg-clr);
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-title-font-weight, 400);
  padding: 5px 10px;
}

.card__image-wrapper {
  position: relative;
}

.card__image-wrapper::after {
  content: '</html>';
  font-family: var(--accent-font), serif;
  text-transform: uppercase;
  position: absolute;
  font-size: 14px;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    1px 0 var(--label-stroke-clr),
    -1px 0 var(--label-stroke-clr),
    0 1px var(--label-stroke-clr),
    0 -1px var(--label-stroke-clr);
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-clr)) {
  .card__image-wrapper::after {
    -webkit-text-stroke: 1px var(--label-stroke-clr);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1/1;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;

  padding: 25px;
  font-size: 18px;
  line-height: 1.166em;
}

.card__buttons-wrapper {
  display: flex;
  justify-content: end;
  padding: 0 25px 20px;
}

.card__icon-button {
  background: none;
  border: none;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-clr);
  border: 2px solid var(--accent-clr);
  height: 38px;
  padding: 0 35px;
}

.button__text {
  color: var(--accent-clr, #000);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-weight: var(--main-font-weight);
}

.save__button {
  color: var(--accent-clr);
  background-color: var(--bg-clr);
  border: 2px solid currentColor;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: max-content;
  display: inline-flex;
  padding: 14px 18px;
  gap: 8px;
}

.floppy {
  width: 29px;
  aspect-ratio: 1/1;
  fill: currentColor;
}

@media (width <= 375px) {
  :root {
    --section-width: 100%;
  }

  .save__button {
    flex-direction: column;
  }

  .title {
    padding-top: 0;
  }

  .card__image-wrapper::after {
    right: 13px;
  }
}
