/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --main-font-weight: 465;
  --card-title-font-weight: 785;

  --bg-clr: #000;
  --accent-clr: #00cc14;
  --label-stroke-clr: var(--bg-clr);
  --bg-image-grad: repeating-linear-gradient(
      to right,
      #000 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465;
    --card-title-font-weight: 785;

    --bg-clr: #000;
    --accent-clr: #00cc14;
    --label-stroke-clr: var(--bg-clr);
    --bg-image-grad: repeating-linear-gradient(
        to right,
        #000 0 2px,
        rgba(0, 0, 0, 0) 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, rgba(0, 0, 0, 0) 2px 4px),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
  }
}

:root.theme-light {
  --main-font-weight: 400;
  --card-title-font-weight: 700;

  --bg-clr: #fff;
  --accent-clr: #000;
  --label-stroke-clr: var(--bg-clr);
  --bg-image-grad: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font-weight: 400;
    --card-title-font-weight: 700;

    --bg-clr: #fff;
    --accent-clr: #000;
    --label-stroke-clr: var(--bg-clr);
    --bg-image-grad: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        rgba(0, 0, 0, 0) 2px 4px
      ),
      repeating-linear-gradient(
        to bottom,
        #d3d3d3 0 2px,
        rgba(0, 0, 0, 0) 2px 4px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  }
}
