/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --section-width: min(700px, 100%);
  --main-font: Inter;
  --accent-font: 'Press Start 2P';
  --main-font-weight: 400;
  --card-title-font-weight: 700;

  --bg-color: #fff;
  --accent-color: #000;
  --bg-image-grad: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
